<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
<head>
    <title>Hangman!</title>
    <script src="{{ url_for('static',filename='app.js') }}"></script>
</head>
<body>
<div id="main_container">
    <div id="inner_container">
        <h1>Hangman!</h1>
        <h2>MOTD: {{ motd }}</h2>
        <p id="health_counter">Guesses remaining: {{ health }}</p>
        <p id="game_message">{{ default_message }}</p>
        <p id="score_container">Wins: {{ wins }} || Losses: {{ losses }}</p>
        <p id="word_container">Word: {{ display }}</p>
        <p id="graveyard">Graveyard: </p>
        <p id="state_debug">State = {{ state }}</p>
        <form>
            <input id="input_box" name="input_box" type="text">
            <button type="button" onclick="submit_guess()">Submit guess</button>
            <button type="button" onclick="init()">Restart</button>
        </form>
    </div>
</div>

</body>
</html>