<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
<head>
    <title>Hangman!</title>
    <script src="{{ url_for('static',filename='app.js') }}"></script>
</head>
<header class="header">
    <h1 id="title">Hangman!</h1>
    <h4 id="motd">{{ motd }}</h4>
</header>
<body>
<div class="main_container">
    {% include body_template %}
</div>
</body>
<footer class="footer">
    <p>developed by <a class="footer-nav" href="https://github.com/strnge">strnge</a> with assistance by <a href="https://github.com/cr0wlet" class="footer-nav">cr0wlet</a></p>
    <p>thanks for the help!</p>
</footer>
</html>