<div class="image_container">
    <p>
        Imagine a trophy icon or something here
    </p>
</div>
<div class="menu_container">
    <h1>Hangman!</h1>
    <table>
        <tr>
            <th>Scoreboard</th>
        </tr>
        <tr>
            <th>Username</th>
            <th>Score</th>
        </tr>{% for value in board.scoreboard %}
        <tr>
            <td>{{ value.name }}</td>
            <td>{{ value.score }}</td>
        </tr>{% endfor %}    
    </table>
    <form>
        <a href="/"><button type="button">Return to start page</button></a>
    </form>
</div>