<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
<head>
    <title>Hangman!</title>
    <script src="{{ url_for('static',filename='app.js') }}"></script>
</head>
<body>
<div id="main_container">
    <div id="inner_container">
        <h1>Hangman!</h1>
        <p id="game_message">Welcome!</p>
        <p id="score_container"> </p>
        <p id="word_container">Click play to begin the game!</p>
        <p id="state_debug"> </p>
        <button type="button" onclick="init()">Play!</button>
    </div>
</div>

</body>
</html>