h1,h2,h4 {
    color: #272727;
}

html,body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    height: 100%;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #D6C9AE;

}

input[type=text]{
    border-radius: 5px;
    border: none;
    width: 20%;
}

button{
    border-radius: 3px;
    border:none;
}

button:hover{
    background-color: aliceblue;
}

.footer-nav{
    color: #272727;
    text-decoration: none;
}

.footer-nav:hover{
    color:#5c4a4a;
    text-decoration: none;
}

.header {
    background-color: #596F62;
    justify-content: left;
    padding-left: 1%;
}

.footer {
    background-color: #596F62;
    justify-content: left;
    padding: 5px;
    flex-shrink: 0;
}

.main_container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 1 0 auto;
}

.image_container {
    background-color: #C3D898;
    max-width: 60%;
    text-align: center;
    margin:0 auto;
    padding: 10px;
}

.menu_container {
    background-color: #C3D898;
    width: 100%;
    text-align: center;
    margin:0 auto;
    padding: 10px;
}
