/* 
stylesheet for hangman web-game
by strnge 03-2025 
*/

h1,h2,h4 {
    color: #5AA9E6;
}

html,body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    height: 100%;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #D6C9AE;
}

input[type=text]{
    border-radius: 5px;
    border: 1px, solid;
    width: 20%;
}

table {
    justify-self: center;
}

button{
    border-radius: 3px;
    border:none;
}

.button1{
    background-color: #FFEE99;
}

.button1:hover{
    background-color: #FFE45C;
}

.button2{
    background-color: #FFD6E2;
}

.button2:hover{
    background-color: #FF709B;
}

.footer-nav{
    color: #7FC8F8;
    text-decoration: none;
}

.footer-nav:hover{
    color:#FF709B;
    text-decoration: none;
}

.header {
    background-color: #FFEE99;
    justify-content: left;
    padding-left: 1%;
}

.footer {
    background-color: #FFD6E2;
    justify-content: left;
    padding: 5px;
    flex-shrink: 0;
}

.footer p{
    color:#5AA9E6;
    font-weight: 600;
}

.main_container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 1 0 auto;
}

.image_container {
    background-color: #F9F9F9;
    max-width: 60%;
    text-align: center;
    margin:0 auto;
    padding: 10px;
}

.menu_container {
    background-color: #F9F9F9;
    width: 100%;
    text-align: center;
    margin:0 auto;
    padding: 10px;
}
