h1 {
    color :forestgreen;
}

#main_container {
    width:100%;
    display:flex;
    justify-content: center;
}

#inner_container {
    max-width: 50%;
    text-align: center;
    margin:0 auto;
    padding: 10px;
    border: 0.1em solid forestgreen;
}

@media(max-width: 767px) {
    #inner_container {
        max-width: 300px;
        text-align: center;
        margin:0 auto;
        padding: 10px;
        border: 0.1em solid forestgreen;
    }
}

